{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <h1>Book Recommendations</h1> --}}

{{!-- fun fact in handle bar files (.hbs) you don't need html tags! --}}
{{!-- Feel free to remove this! --}}

{{!-- The outlet here is what allows you to see the content on the books route --}}
{{outlet}} 

{{!-- {{#each this.books as |book| }}
  {{book.title}}
{{/each}} --}}