body{

    display: flex;
    flex-wrap: wrap;

}
.page-title{
    flex: 0 0 100%;
}
#bookdiv{
    align-items: stretch;
}
.books{
    float: left;
    margin: 25px;
}

#myButtonId {
    /* Center-align the text */
    text-align: center;
    /* Set the cursor to be a pointer */
    cursor: pointer;
}
